* {
	margin: 0px;
	padding: 0px;
}

tbody tr a {
text-decoration: none;
}

tbody tr input[type=checkbox]:checked ~ a {
text-decoration: line-through;
}

.container {
	width: 60vw;
	margin: auto;
	padding: 10px
}

.top-nav {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.username-nav {
	margin-left: 28vw;
}

.bucket-nav {
	text-align: center;
	font-size: 5rem;
}

