* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

tbody tr a {
	text-decoration: none;
	color: whitesmoke;
	margin-left: 15px;
}

tbody tr input[type=checkbox]:checked ~ a {
	text-decoration: line-through;
}

.container {
	width: 60vw;
	margin: auto;
	padding: 10px;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 10px;
}

.username-nav {
	margin-left: 27vw;
}

.bucket-nav {
	text-align: center;
	font-size: 5rem;
	margin-top: 10px;
}

.action-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit-btn {
	font-size: 1.5rem;
}

.custom-btn {
    width: 30px;
    height: 15px;
    color: #fff;
    border-radius: 5px;
    padding: 7px 25px;
    font-family: 'Lato', sans-serif;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-1 {
    background: rgb(72, 0, 187);
    background: linear-gradient(0deg, rgba(72, 0, 187,1) 0%, rgba(86, 0, 161) 100%);
    border: none;
    padding: 8px 62px 22px 27px;
    color: whitesmoke;
    font-size: .9rem;
}

.btn-1:hover {
    background: rgb(96,9,240);
background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
}

.btn-11 {
	border: none;
	background: rgb(251, 33, 117);
	background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%,
		rgba(234, 76, 137, 1) 100%);
	color: #fff;
	overflow: hidden;
	margin-right: 20px;
}

.btn-11:hover {
	text-decoration: none;
	color: #fff;
}

.btn-11:before {
	position: absolute;
	content: '';
	display: inline-block;
	top: -180px;
	left: 0;
	width: 30px;
	height: 100%;
	background-color: #fff;
	animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover{
    opacity: .7;
  }

.btn-11:active {
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
		inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@-webkit-keyframes shiny-btn1 {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

table {
	width: 100%;
	text-align: center;
}

th, td {
  border-bottom: 1px solid #ddd;
  height: 40px;
}

td {
	width: 100%;
}
